.body{
    margin: 0%;
}

*{
    box-sizing: border-box;
}


.header img{

    width:100px;
    margin-left: auto;
    margin-right: auto;
  display: inline;
  
   
}

.header h1{
    
    font-size: 300%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    
    
    
}

.header{
    background-color: green;
    margin: o;
    padding: 10px;
    text-align: center;
    color: white;
    
}

.footer{
    background-color: green;
    clear: both;
    padding: 5px;
    text-align: center;
}


.navBar{

    background-color: skyblue;
   

}

.navBar li{
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    
    
}

.navBar li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navBar li a:hover{
    background-color:violet;

}

.navBar ul{
    margin: 0;
    padding: 0;
}

.firstRow::after{
    content: "";
    display: table;
    clear: both;

    
}

.leftColumn{
    float: left;
    width: 20%;
    padding: 15px;
}

.middleColumn{
    float: left;
    width: 60%;
    padding: 15px;
}

.rightColumn{
    float: left;
    width: 20%;
    padding: 15px;
}


.loginContain{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}


input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size:20px ;
}

input[type=file]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size:20px ;
}

select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label{
    padding: 12px 12px 12px 0px;
    display: inline-block;
    font-size: 20px;
}

input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit], input[type=reset]{
    background-color:#04AA6D ;

    color: wheat;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    margin-left: 30%;
}

input[type=submit]:hover, input[type=reset]:hover{
    background-color: aqua;
    
}




.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }


/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


/* Responsive for layout

/* Clear floats after the columns */
.layoutRow::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  table{
    border: 1px solid black;
  }

  tr:nth-child(even){background-color: #f2f2f2;}


  tr:hover {background-color: #ddd;}

  th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .tableHeader{
    text-align: center;
  }

  .tableContainer{
    padding: 0% 10%;
  }